.container{
    position: relative;
    width: 720px;
    height: 1020px;
    font-size: 12px;
    background-color: bisque;
}
.header{
    position: absolute;
    width: 600px;
    height: 55px;
    top: 30px;
    left: 60px;
}
.header_title{
    position: absolute;
    width: 400px;
    height: 55px;
    top: 30px;
    left: 320px;
}
.line{
    position: absolute;
    background-color: black;
    width: 600px;
    height: 2px;
    top: 85px;
    left: 60px;
}
.textbox{
    position: absolute;
    border: 2px solid black;
    width: 280px;
    height: 120px;
    top: 140px;
    left: 380px;
}
.table_title{
    position: absolute;
    width: 180px;
    height: 45px;
    top: 250px;
    left: 60px;
}
.table1{
    position: absolute;
    width: 600px;
    height: 70px;
    top: 300px;
    left: 60px;
}
table, td, th{
    border: 1px solid black;
}
td,th{
    height: 30;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 12px;
}
.img_txt{
    top: -3px;
    position: relative;
    left: 67px;
}
.table1_txt{
    position: relative;
    left: 50px;
}
.table2{
    position: absolute;
    width: 600px;
    height: 160px;
    top: 420px;
    font-size: 12px;
    left: 60px;
}
.table3{
    position: absolute;
    width: 600px;
    height: 160px;
    top: 700px;
    font-size: 12px;
    left: 60px;
}
.table4{
    position: absolute;
    width: 600px;
    height: 80px;
    font-size: 11px;
    top: 880px;
    left: 60px;
}
.table5{
    position: relative;
    width: 153px;
    height: 7px;
    font-size: 11px;
    top: -61px;
    left: 135px;
}
.footer{
    position: absolute;
    width: 520px;
    height: 20px;
    top: 980px;
    left: 100px;
    font-size: 11px;
}
